h1{
    text-align: center;
    margin: 10px auto;
}

.contenedor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contenedor img{
    width: 250px;
    height: 250px;
}

@media (min-width:1081px) and (max-width:1300px){
    .contenedor img{
        width: 280px;
        height: 280px;
    }
}

@media(min-width:557) and (max-width: 1080){
    .contenedor img{
        
        width: 300px;
        height: 300px;
    }
    .contenedor{
        gap: 80px;
    }
}

@media(min-width:556){
    .contenedor img{
        width: 320px;
        height: 320px;
    }
    .contenedor{
        gap: 40px;
}
}
